<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>921337447974-nkp854vmsbldse8r7um80tj8h93h21f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921337447974-nkp854vmsbldse8r7um80tj8h93h21f5</string>
	<key>API_KEY</key>
	<string>AIzaSyDe8YJFybMewQFa6PVT7M01hb8K7Ct6AnU</string>
	<key>GCM_SENDER_ID</key>
	<string>921337447974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fcm.simplefcmclient</string>
	<key>PROJECT_ID</key>
	<string>simplefcmclient-d7db1</string>
	<key>STORAGE_BUCKET</key>
	<string>simplefcmclient-d7db1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:921337447974:ios:b71c73a2fedb7a5a</string>
	<key>DATABASE_URL</key>
	<string>https://simplefcmclient-d7db1.firebaseio.com</string>
</dict>
</plist>